@model SGA.Models.Schedule

@{
    ViewData["Title"] = "Edição de adendamento";
}

<h2>Edição de agendamento</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Edit">

            <partial name="_Form" />

        </form>
    </div>
</div>
