@model Exception
@{
    ViewData["Title"] = "Acesso não autorizado";
}

    <h1>Acesso não autorizado</h1>

<br />
<p>Você não tem acesso a este recurso.</p>
<p>Horário: @DateTime.Now.ToString()</p>

