
@{
    ViewData["Title"] = "Troca de senha";
}

<h2>Troca de senha</h2>
<br />


<form asp-controller="Procedures" asp-action="ChangePasswordAction" method="post">
    <div asp-validation-summary="None" class="text-danger"></div>


    <div class="row">
        <div class="form-group col-md-6 ">
            <div>
                Selecione o usuário
            </div>
            @Html.DropDownList("Username", null, "", htmlAttributes: new { @class = "form-control " })
        </div>


    </div>


    <div class="row">
        <div class="col-md-6" align="right">
            <button type="submit" value="DisableUser" class="btn btn-success" id="button" name="button" title="Altera a senha">
                Alterar senha
            </button>
        </div>
    </div>

</form>

<br />

@if (@ViewBag.Status != null)
{
    <div class="col-md-6 alert-info alert">@ViewBag.Status</div>
}

@section Scripts {
    <script src="~/js/procedure-change-password.js"></script>
}

