@{
    ViewData["Title"] = "Importar dados";
}

<h1>Importar dados manualmente</h1>
<br />


<p>
    <div id="Executa" class="btn btn-success detail-selected" onclick="executa()"> Executar importação de dados manualmente</div>
</p>

<br />

<span id="Resultado"></span>


@section Scripts {
    <script src="~/js/procedure.js"></script>
}
