@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h1>Estatísticas</h1>
<br />

<p>
    Quantidade de aplicacoes cadastradas: @ViewBag.QuantidadeAplicacoes
</p>
<p>
    Quantidade de usuários únicos importados: @ViewBag.QuantidadeUsuarios
</p>
<p>
    Quantidade de permissões importadas: @ViewBag.QuantidadeUsuariosPermissoesImportadas
</p>
