@model SGA.Models.Environment

@{
    ViewData["Title"] = "Cadastro de ambientes";
}

    <h2>Cadastro de ambientes</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Create">

            <partial name="_Form" />

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
