@model SGA.Models.Environment

@{
    ViewData["Title"] = "Edição de ambientes";
}

    <h2>Edição de ambientes</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Edit">

            <partial name="_Form" />

        </form>
    </div>
</div>
