@model SGA.Models.PermissionGroup

@{
    ViewData["Title"] = "Edição de grupo de permissão";
}

<h2>Edição de grupo de permissão</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Edit">

            <partial name="_Form" />

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/permission-group.js"></script>
}