@model Exception
@{
    ViewData["Title"] = "Erro encontrado";
}

<h1>Erro encontrado</h1>

<br />
<p>Erro ao executar sua solicitação, informe o horário do problema para o administrador da aplicação analisar os logs.</p>
<p>Horário: @DateTime.Now.ToString()</p>

