@model SGA.Models.Parameter

@{
    ViewData["Title"] = "Edição de parâmetros";
}

<h2>Edição de parâmetros</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Edit">

            <partial name="_Form" />

        </form>
    </div>
</div>

@section Scripts {

}