@model SGA.Models.ApplicationType

@{
    ViewData["Title"] = "Edição de tipo de conexão";
}

<h2>Edição de tipo de conexão</h2>
<br />

<div class="row">
    <div class="col-md-12 form">
        <form asp-action="Edit">

            <partial name="_Form" />

        </form>
    </div>
</div>
